.spinner {
  width: 100vw;
  height: 100vh;
  background-color: #d8d2d2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000000000 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
