option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 8.9.3
    NodeCommand: "npm start"

container_commands:
  011_001_node:
    command: "ln -sf /opt/elasticbeanstalk/node-install/node-v$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:container:nodejs -o NodeVersion)-*/bin/node /bin/node"
  011_002_npm:
    command: "ln -sf /opt/elasticbeanstalk/node-install/node-v$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:container:nodejs -o NodeVersion)-*/bin/npm /bin/npm"    