/*=========== Home page =============*/
.home-page{
    height: 100%;
    width: 100%;
}
.main-nav{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}
.main-nav .add-orgonaization-button{
    text-decoration: none;
    display: inline-block;
    padding-left: 1em;
    color: #bbb;
}
.main-nav .login-section{
    color: #bbb;
    justify-self: flex-end;
}