.login-form-content{
  padding: 2em 1.8em;
  width: 20em;
}
.login-form{
  display: grid;
  grid-template-columns: 1fr;
}
.login-form button{
  margin-top: 2em;
}
.error{
  color: #f00 !important;
  font-size: 1em !important;
}