.login-form-content{
  padding: 2em 1.8em 3em 1.8em;
  margin: 0 auto;
  width: 300px;
}

.login-form{
  display: grid;
  grid-template-columns: 1fr;
}

.login-form button{
  margin-top: 1em;
}

.login-form p {
  margin-top: .745rem;
  font-size: .78rem;
}
.error{
  color: #f00 !important;
  font-size: 1em !important;
}

.sign-title {
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-title button{
  color: #e8e8e8;
  font-size: 1rem;
  font-weight: bold;
}

.sign-title button:hover {
  background: transparent;
  color: #fff;
} 

@media screen and (max-width:610px) {
  .login-form-content {
    width: 70%;
  }
}