.login-content .login-form-content{
  padding: 2em 1.8em 3em 1.8em;
  margin: 0 auto;
  width: 350px; 
  box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22), 0 25px 55px 0 rgba(0,0,0,0.21);   
}

.login-form{
  display: grid;
  grid-template-columns: 1fr;
}

.login-form-content h1{
  font-size: 173%;
  color: #1abcd4;
}

.login-form button{
  margin-top: 1em;
  background-color: #1abcd4;
}

.login-form button:hover,
.login-form button:focus{
  background-color: #1abcd4;
}

.login-form p {
  margin-top: .745rem;
  font-size: .78rem;
}
.error{
  color: #f00 !important;
  font-size: 1em !important;
}

.sign-title {
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-title button{
  color: #e8e8e8;
  font-size: 1rem;
  font-weight: bold;
}

.sign-title button:hover {
  background: transparent;
  color: #fff;
} 

@media screen and (max-width:400px) {
  .login-content .login-form-content {
    width: 90%;
    padding: 1rem;
  }
}