.top-nav-content{
  align-items: center;
  display: flex;
}
.add-new-button {
  display: grid !important;
  grid-template-columns: 1fr 5fr;
}
.add-new-button >a{
  display: block;
 text-decoration: navajowhite;
  color: #fff !important;
}
.login-section{
  display: flex;
  justify-content: flex-end;
}
.add-orgonaization-button{
  display: flex;
  align-items: center;
}

@media (max-width: 991px){
  .top-nav-content{
    margin-left: 1em !important;
  }
}