.add-new-button {
  display: flex !important;
  height: 3em;
}
a .add-orgonaization-button {
  width: 30px ;
  height: 30px ;
  min-height: 30px !important;
  color: #000;
  min-width: 25px !important;
  font-size: 22px !important;
}
a .add-orgonaization-button:active {
  box-shadow: 0 0 0 0;
}

a .add-orgonaization-button:hover {
  background-color: #ffffff;
}
.login-section {
  justify-content: flex-end !important;
  display: flex;
}
.logo-button span > i {
  font-size: 3.5em !important;
  color: #e0e0e0;
}

.add-new-button > a  {
  text-decoration: navajowhite;
  color: #fff !important;
  align-items: center;
  display: flex;
  margin-right: 0.5em;

}
.add-organisation-title{
  display: flex !important;
  align-items: center;
  font-size: 1.2em;
}

@media (max-width: 991px) {
  .top-nav-content {
    margin-left: 1em !important;
  }
}
