.add-new-button {
  display: flex !important;
}
.add-new-button >a{
  text-decoration: navajowhite;
  color: #fff !important;
  align-items: center;
  display: flex;
}

@media (max-width: 991px){
  .top-nav-content{
    margin-left: 1em !important;
  }
}