.mdc-drawer{
    height: 100vh;
    width: 256px;
}

.logo{
    padding: .8em 0 .8em .8em;
    font-size: 2.5em;
}

.logo a{
    text-decoration: navajowhite;
    color: #95999c;
}
.draw-close-button{
  color: #1abcd4 !important;
}

.hide{
    display: none;
}
.show{
    display: block;
}