form div div::before {
  height: 0;
}

div.search {
  position: relative;
  left: 300%;
  margin: 20px 0;
  padding: .345rem .3rem;
  border: 2px solid #45bdd4;
}

.search div:before,
.search div:after {
  content: none;
}

i{ cursor: pointer;}

.search-con{
  position: absolute;
  top: 125px;
  color: gray;
}

.search-field label{
  padding-left: 1.5em !important;
  font-size: 1.3em;
}

.search-field{
  padding-left: 1.5em !important;
  margin-right: 1em !important;
  width: 55%
}

.clear-search{
  cursor: pointer;
  position: relative;
  background: transparent;
  border: 0;
  height: 10px;
}

.clear-search i.material-icons,
.clear-postcode i.material-icons {
  color: #999;
  font-size: 17px;
}

.hidden { display: none; }

.search-input{
  display: grid;
  grid-template-columns: 4.5fr 4.5fr 1fr;
  grid-gap: .7rem;
}

.search-text {
  display: flex;
}

button.btn-search,
button.btn-search:hover { background: #1abcd4; }

.postcode-field {
  position: relative !important;
  width: 100%;
}

.clear-search i.material-icons,
.postcode-field .clear-postcode{
  background: transparent;
  border: navajowhite;
  position: absolute;
  cursor: pointer;
  outline: none;
  z-index: 100000;
  right: 0 ;
  top: 7px ;
}

@media (max-width: 591px){
  .search-input{
    grid-template-columns: 1fr;
  }
}