
form div div::before {
  height: 0;
}

div.search {
  position: relative;
  left: 300%;
  margin: 20px 0;
  padding: .345rem .3rem;
  border: 2px solid #45bdd4;
}

.search div:before,
.search div:after {
  content: none;
}

i{ cursor: pointer;}

.search-con{
  position: absolute;
  top: 125px;
  color: gray;
}

.search-field label{
  padding-left: 1.5em !important;
  font-size: 1.3em;
}

.search-field{
  padding-left: 1.5em !important;
  width: 95%
}