/*************** Add ****************/
.add-orgonaization{
    padding: 15px;
}
.add-orgnaization >h1{
    font-size: 1.5em;
}
.form-first-row,
.form-second-row{
    display: flex;
    justify-content: space-between;
    widows: 100%;
    flex-wrap: wrap;
    margin-top: 1em;
}
.form-first-row .first-field,
.form-second-row .first-field{
    width: 40% !important;
}
.form-first-row .second-field,
.form-second-row .second-field{
    width: 17% !important;
}
.form-first-row .third-field,
.form-second-row .third-field{
    width: 40% !important;
}
.add-category{
    margin-top: 1em;
}
.add-org-title{
    padding-bottom: 1em;
    display: block;
    color: #bbb;
}
.add-email-website{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.add-categories-checkbox{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-gap: 1em;
    border: 2px solid #519889;
    padding: 1em;
    height: 2.5em;
    overflow: auto;
}
.add-categories-checkbox input[type=checkbox] + label{
  cursor: pointer;
}
.add-categories-checkbox label,
.categories-chckbox label{
  position: relative;
  margin-left: 1.5em;
  margin-bottom: .8em;
}
.add-categories-checkbox label{
  margin-bottom: 0;
}
.add-categories-checkbox input[type=checkbox], input[type=checkbox]::before{
  content: "\2714";
  border: 0.1em solid gray;
  border-radius: 0.2em;
  display: inline-block;
  width: .8em;
  height: .8em;
  padding-left: 0.3em;
  padding-right: .2em;
  padding-bottom: 0.4em;
  vertical-align: bottom;
  color: transparent;
  background: gray;
  transition: .2s;
  position: absolute;
  left: -.8em;
}
.add-categories-checkbox input[type=checkbox]:checked::before{
  color: #000;
}
.add-orgonaization-link{
    background: #519889;
    color: #fff;
    padding: 8px 1em;
    margin-top: 2em;
    float: right;
    border: navajowhite;
    border-radius: .1em;
    font-size: 1em;
    box-shadow: 0px 2px 4px 2px #bbb;
}
.not-include-in-add-org{
  display: none !important;
}