.org-edit h6{
  display: flex;
  justify-content: space-between;
  padding: .4rem 0 0 .8rem;
}

.edit-org .website-label input:nth-child(1){
  color: #519889 !important;
}

.btn-text { font-size: 90%; } /*  button text size   */

.edit-org .edit-orgnasiation-name textarea{
  font-size: 1.5em !important;
}

.edit-org .text-field,
.edit-org .text-field-two{
  width: 50px !important;
  font-size: .9em !important;
  top: 1px !important;
  padding: 0 !important;
  padding-left: .5em !important;
}

.edit-org .text-field-two{
  width: 75px !important;
}

.edit-org .text-field input,
.edit-org .text-field-two input{
  font-size: .9em !important;
  color: #bbb !important
}

.edit-org .health-advice-title input:nth-child(1){
  font-weight: initial;
}

.org-form .organisation-name div div{
  overflow: hidden;
}

.org .edit-button{
  background: #03a9f400;
  position: absolute;
  right: 1rem;
  bottom: 0.208001rem;
  color: #1bc1ea;
  box-shadow: 0 0;
  border-radius: 0;
}

.org-form div.add-project { margin-top: 1rem; }

button.edit-button:hover,
button.edit-button:active {
  background: none;
  box-shadow: 0 0;
}

.edit-button .delete-org{
  color: #e10050 ;
  font-size: 20px;
}

.edit-logo{
  position: absolute;
  right: 20px;
  font-size: .9em;
  font-weight: bold;
  color: #bbb;
}

.edit-org .details-area{
  display: inline
}

 .categories-checkbox-title{
  padding: 1.5em 0 .5em 0;
  color: #000;
}

.categories-checkbox{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  border: 2px solid #1abcd4;
  padding: .4rem 0;
  margin-top: .6rem;
  grid-template-rows: repeat(9, 2fr);
  grid-auto-flow: column;
  margin: 0 -.2rem;
}

.categories-checkbox span {
  flex: 0 0 auto;
  height: 20px;
  padding: 0;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 71%;
  word-break: break-word;
  line-height: 1.6;
}

.cancel-button{
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  background: #6c6c6b !important;
  color: #fff !important;
  bottom: 5px !important;
  left: 20px !important;
  padding: 0 2em !important;
}

.save-button{
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  background: #519889 !important;
  color: #fff !important;
  bottom: 5px !important;
  right: 20px !important;
  padding: 0 2.5em !important;
  margin-top: 1em;
}

.success-notification{
  z-index: 22222 !important;
}

.edit-org .not-include-in-edit-org{
  display: none;
}

button.cancel-btn,
button.save-btn {
  padding: 6px 12px;
  color: #fff;
  min-height: 5px;
  border-radius: 2px;
  margin-right: 1.2rem;
  margin-bottom: .8rem;
}

button.cancel-btn {
  background: #d00404;
}

button.save-btn {
  background: #45bdd4;
}

button.cancel-btn:hover {
  background: #e42828;
}

button.save-btn:hover{
  background: #12cdf1;
}

.add-new-org button {
  padding: 7px 8px;
  float: right;
  margin-right: 0;
}

.edit-org-title h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-org-close {
  background: transparent;
  border: 0;
  color: #d13a29;
  font-weight: 700;
}

div.edit-content,
.edit-org-title {
  padding: 0 1.4rem;
  margin-top: .5rem;
}

.edit-content .org-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button.edit-org-close:focus,
button.edit-org-close:hover {
  border:0;
  outline: none;
}

.edit-org div[role="document"]{ 
  min-height:4px;
  overflow-x: hidden;
  width: 100%;
  max-width: 65vw;
}

.edit-org .org-close-btn button { 
  margin-right: -43px;
  padding: 0;
}
 .edit-org div + div::-webkit-scrollbar {
  width: .68rem;
  height: .2rem;
}

.edit-org div + div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(34, 39, 43, 0.13);
}

.edit-org div + div::-webkit-scrollbar-thumb {
  background: #46bdd4;
  
}

.edit-org div + div:hover::-webkit-scrollbar,
.edit-org div + div:focus::-webkit-scrollbar {
    display: block;
}

.edit-org #form-dialog-title {
  height: 0;
  padding: 0 26px 24px;
}

.edit-org i  {
  font-size: 20px;
}

.org-form h4{
  font-size: 87%;
  margin-top: .6rem;
}

.org-form textarea {
  font-size: 84%;
  font-weight: 400;
  color: #141414;
  overflow: hidden;
}

.add-new-org .day div label {
  margin-top: 1.6rem;
}

/* #form-dialog-title h4 */
.org-form .organisation-name { margin-top: 1rem; }
.org-form .mt {
  margin-top: 1.4rem;
}

.org-form .mt-last {margin-top: 0; }

.org-form .margin-tel {margin-top: 1.2rem;}

.org-form div:before {
  background: rgb(13, 166, 195);
}

.location {
  display: flex;
  margin-top: 3px;
}

#menu-Borough li:hover,
#menu-Area li:hover,
#menu-borough li:hover {
  background-color: rgb(70, 189, 212);
  color: #fff;
}

.location,
.edit-org-title h2,
.add-borough div,
.add-area div,
#menu-Borough ul li,
#menu-Area ul li,
#menu- ul li {
  font-size: 84%;
  color: #141414;
  background: none;
}

#menu- ul li {
  color: #130f0f;
}

#menu- ul li:nth-child(1),
#menu-Borough ul li:nth-child(1),
#menu-Area ul li:nth-child(1) {
  color: #1abcd4;
  background: none;
  pointer-events: none;
}

.edit-content .location {
  margin-top: .5rem;
  margin-bottom: -1.5rem; 
}

.location-item {
  font-size: 90%;
  display: flex;
  align-items: center;
  
}

.location .space {
  padding: 0 .6rem;
  margin: auto 0;
}

.add-borough div,
.add-area div {
  font-size: .80rem;
}

.days div{ color: #131114;}

#menu-Borough ul li,
#menu-Area ul li,
#menu- ul li {
  padding: 0 16px;
}

/* remove padding between day and checkbox */
#menu- ul li span + div{
  padding: 0;
}

#menu-Borough div ul,
#menu-Area ul,
#menu- ul {
  padding: 0 ;

}

#menu- ul,
#menu- div + div{ 
  min-width: 0!important;
}

.edit-day-field {
  width: 100%;
}

.edit-org .org-close-btn { margin-right: 5px;}

/*  edit organisation */
div.mt .day,
div.mt .telephone { margin-top: -1rem;}

.org-form .mt-select {
  margin-top: 2.1rem;
  font-size: 84%;
}

.edit-day-field label {
margin-top: 1rem;
}

div.edit-mode-btn { margin: 0px 5px;}

@media (max-width: 551px){
  .org {
    width: 100%;
  } 

  .org-info h1 {
    padding: 1rem 0 0;
    font-size: 100%;
  }

  .org-project {
    padding-top: .8rem;
  }

  .org-info div + div[role=document] {
    padding: 1rem 1rem 10rem;
  }

  .categories-checkbox {
    display: grid;
    grid-template-columns: 0;
    padding: .1rem;
    grid-gap: .2rem;
    grid-auto-flow: row;
    margin: 0 -24px;
  }

  button.cancel-btn, button.save-btn {
    padding: 4px;
  }

  .add-new-org button {
    padding: 4px 4px;
  }

  #menu- > div + div{
    margin-top: 5rem;
  }

  #menu- div:first-child:before { top: 10%; }
}