.edit-content{
  min-width: 22em;
  min-height: 16em;
}
.edit-org .edit-field{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
.edit-org .edit-orgnasiation-name{
  grid-column: 1/4;
  margin-top: -1em;
}
.edit-org .text-field-container{
  grid-column: 1/1;
  display: Grid;
  grid-template-columns: 1fr 4fr;
}
.edit-org .text-field-container >div >div,
.edit-org .text-field-two-container >div >div{
  margin-top: -.5em !important;
}
.edit-org .text-field-two-container{
  grid-column: 2/2;
  display: Grid;
  grid-template-columns: 2fr 4fr;
}
.edit-org .health-advice-title{
  grid-column: 1/4
}
.edit-org .process-lable{
  grid-column: 1/4
}
.edit-org .process-lable >label{
  color: #000 !important;
  font-size: 1.5em;
}
.edit-org .edit-day-field{
  grid-column: 1/4
}
.edit-org .telephone-label{
  grid-column: 1/2
}
.edit-org .email-label{
  grid-column: 2/4
}
.edit-org .health-advice{
  top: -5px !important;
}
.edit-field .select-lable{
  font-size: 1.5em;
  color: #000;
}
.edit-field .add-website{
  grid-column: 1/4
}
.edit-org .edit-orgnasiation-name label:nth-child(1),
.edit-org .text-field label:nth-child(1),
.edit-org .text-field-two label:nth-child(1),
.edit-org .website-label label:nth-child(1){
  display: none;
}
.edit-org .edit-day-field label:nth-child(1),
.edit-org .edit-process-field label:nth-child(1),
.edit-org .email-label label:nth-child(1),
.edit-org .telephone-label label:nth-child(1){
  color: #000;
  font-size: 1.5em;
}
.edit-org .website-label input:nth-child(1){
  color: #519889 !important;
}
.edit-org .edit-orgnasiation-name input:nth-child(1){
  font-size: 1.5em !important;
}
.edit-org .text-field,
.edit-org .text-field-two{
  width: 50px !important;
  font-size: .9em !important;
  top: 1px !important;
  padding: 0 !important;
  padding-left: .5em !important;
}
.edit-org .text-field-two{
  width: 75px !important;
}
.edit-org .text-field input,
.edit-org .text-field-two input{
  font-size: .9em !important;
  color: #bbb !important
}
.edit-org .health-advice-title input:nth-child(1){
  font-weight: initial;
}
.edit-button{
  border: none !important;
  background: transparent;
  position: absolute !important;
  right: 20px;
  top: 10px;
  font-weight: bold;
  color: #1abcd4;
  outline: none !important;
}
.edit-button{
  width: 37px !important;
  height: 30px !important;
}
.edit-logo{
  position: absolute;
  right: 20px;
  font-size: .9em;
  font-weight: bold;
  color: #bbb;
}
.edit-org-dialog >div{
  overflow-y: initial !important;
  z-index: 1000 !important;
}
.edit-org-close-button{
  position: absolute;
  right: -24px;
  top: -25px;
  background: transparent;
  border: navajowhite;
  color: #bbb;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
  outline: none !important;
}
.edit-org .details-area{
  display: inline
}
.edit-org .categories-checkbox-title{
  padding: 1.5em 0 .5em 0;
  color: #000;
}
.edit-org .categories-checkbox{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
border: 1px solid #bbb;
  padding: 1em;
  min-height: 4em;
  grid-gap: 1em;
  overflow: auto;
  margin-bottom: 1em;
  border-radius: .5em;
  box-shadow: 1px 1px 9px 3px #bbb;
}

.cancel-button{
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  background: #6c6c6b !important;
  color: #fff !important;
  bottom: 5px !important;
  left: 20px !important;
  padding: 0 2em !important;
}
.save-button{
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  background: #519889 !important;
  color: #fff !important;
  bottom: 5px !important;
  right: 20px !important;
  padding: 0 2.5em !important;
  margin-top: 1em;
}
.success-notification{
  z-index: 22222 !important;
}
.edit-org .not-include-in-edit-org{
  display: none;
}