.organisation-page{
  padding: 1.5em 1em;
}

.not-available {
  color: #ccc;
}

/* allow to control font-size in org card detail by modify font-sie of  div parent */
/* .org-info { font-size: 15px; } */

/* label title org edit - org detail info  */
.edit-content .normal-weight,
.edit-content label ,
.edit-content h4.mt,
.edit-content .location-name,
.add-new-org label,
.org-info h6,
.org-info h4 {
  color: #141414;
  font-weight: 600;
  font-size: 110%;
}

.org-form h4.add-org-title {
  font-size: 92%;
}

.org-info {
  font-size: 14px;
}
.health-advice-process >p{
  margin-bottom: .5em;
}
.health-advice-process p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.edit-button{
  border: none !important;
  background: transparent;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #1abcd4;
  outline: none !important;
}

.org-distance{
  display: flex;
  justify-content: space-between;
}

.org-distance p{ color: #666; }

/*  truncate text inside card */
.org-distance h1 { max-width: 36ch; }

.org-home_title {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
}
