.org-search{
  height: 3.5em;
  margin-top: 1.5em !important;
  padding: 0 1em;
}
.search-button{
  position: absolute !important;
  right: .5em !important;
  top: .5em  !important;
  background: #1abcd4  !important;
  color: #fff  !important;
  width: 35px !important;
  height: 35px !important;
}

.postcode-error{
  color: #f00;
  padding-top: 1rem;
  margin-left: 20px;
}

.org-search .post-code{
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-gap: 1em;
  position: relative;
}
 .post-code div{
    width: 100% !important;
  }
.org-search .day{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}
.org-search .service{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.org-search .day,
.org-search .service{
  margin-top: -1em;
}

.select-field-container{
  z-index: 10 !important;
}


@media (max-width: 991px){
  .org-search{
    height: 10em;
  }
  .org-search .post-code{
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-gap: 1em;
  }
  .org-search .day{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
  .org-search .service{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
  .org-search .post-code,
  .org-search .day,
  .org-search .service{
    height: 1em !important;
  }
  .org-search .day h4,
  .org-search .service h4{
    justify-self: flex-start;
    color: #bbb;
    padding-top: .8em;
  }
  .post-code div{
    width: 100% !important;
    z-index: 1;
  }
  .service div{
    z-index: 1 !important;
   }
  .day-small-screen{
    z-index: 3 !important;
  }
}