.org-info div[role=document] {
  width: 100%;
  padding: .4rem 1rem 3rem;
  overflow: hidden;
  max-width: 650px;
}

.org-info h1 {
  padding: .6rem 0rem 0;
  font-size: 139%;
}

.org-card-info h1 {
  padding: 0 0 .6rem; 
  font-size: 110%;
}

.org-process,
.org-contact{
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-gap: 1em;
  color: #000;
  word-break: break-word;
}

/* .org-process{ 
  padding-bottom: .5rem; 
} */

.org-contact div {
  padding-top: 0rem;
  height: 47px;
}

 p {
  font-size: 88%;
}

.website-link{
  display: block;
  color: #1abcd4;
  font-size: 97%;
}

.tag {
  color: rgb(1, 45, 97);
  font-size: 100%;
  text-transform: capitalize;
}

.tag img {vertical-align: middle;}

.org-website,
.org-contact,
.org-service, 
.org-process{
  overflow: hidden;
}

.org-process{
  padding-bottom: 35px;
}

.org-project {
  padding-top: .95rem;
}

.org-service { padding-bottom: 1rem;}
.org-info .edit-button:hover,
.org-info .detail-button:active,
.org-info .edit-button {
  background: #1abcd4;
  color: #fff;  
}

.org-detail-btn .move-right{
  font-size: 15px;
  color: #1abcd4;
  left: 73% ;
  top: 8.1rem;
  right: 0;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  box-shadow: 0 0;
  text-transform: inherit;
}

/* Arrow button  */
.move-right i{
  padding-left: .2rem;
  font-size: 25px;
  font-weight: bolder;
}

.org-info .edit-button {
  min-width: 0;
  min-height: 0;
  padding: 9px;
  top: 0;
}

.org-info h6.details-area,
.org-card-info h6 { 
  font-size: 85%; 
  font-weight: 100;
  color: rgba(0, 0, 0, 0.54);
}

.org-process-service {
  padding-bottom: 35px;
  overflow: hidden;
}

@media (max-width: 430px){
  div.org-info {
    font-size: 12px;
  }

  .org-process,
  .org-contact{
    grid-template-columns: 1fr;
    grid-gap: .6rem;
  } 
  
  .org-info .edit-button {
    padding: 4px;
  }

  .org-website, 
  .org-contact, 
  .org-service, 
  .org-project, 
  .org-process {
    padding-bottom: .3rem;
  }
}

@media (max-width: 767px){
  .org-detail-btn .move-right{
    left: 65%;
  }
}