.org-info div + div[role=document] {
  width: 100%;
  padding: .4rem 1rem 1rem;
  overflow: hidden;
}

.org-info h1 {
  padding: 2rem 0 .78rem;
  font-size: 149%;
}

.org-card-info h1 {
  padding: 0 0 .6rem; 
  font-size: 110%;
}

.org-process,
.org-contact{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;
  color: #000;
  padding-bottom: 1rem;
  word-break: break-word;
}

 p {
  font-size: 90%;
}

.website-link{
  display: block;
  color: #1abcd4;
  font-size: 97%;
}

.tag {
  color: rgb(1, 45, 97);
  font-size: 100%;
  text-transform: capitalize;
}

.tag img {vertical-align: middle;}

.org-website,
.org-contact,
.org-service, 
.org-project,
.org-process{
  padding-bottom: 1rem;
}

.org-project {
  padding-top: 1.7rem;
}

.org-info .edit-button:hover,
.org-info .detail-button:active,
.org-info .edit-button {
  background: #1abcd4;
  color: #fff;  
}

.org-info .edit-button {
  min-width: 0;
  min-height: 0;
  padding: 9px;
  top: 0;
}

.org-info h6.details-area,
.org-card-info h6 { 
  font-size: 85%; 
  font-weight: 100;
  color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 430px){
  div.org-info {
    font-size: 12px;
  }

  .org-process,
  .org-contact{
    grid-template-columns: 1fr;
    grid-gap: .6rem;
  } 
  
  .org-info .edit-button {
    padding: 4px;
  }

  .org-website, 
  .org-contact, 
  .org-service, 
  .org-project, 
  .org-process {
    padding-bottom: .3rem;
  }

}