.sign-up-page {
    /* display: grid;
    grid-template-columns: 3fr 2fr; */
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group:first-child {
    padding: 0 40px 0 .5rem;
}

.form-group:first-child div{
    width: 70%;
}

.form-group:last-child {
    justify-content: center;
    align-items: center;
}

.form-group:last-child button {
    width: 50%;
    color: #fff;
}

.form-group h2{
    font-family: inherit;
    color: rgba(0, 0, 0, 0.87);
}

.sign-up-page .form-group:first-child div:nth-child(3),
.sign-up-page .form-group:first-child div:nth-child(4) {
    margin-top: 16px;
    margin-bottom: 8px;
}

.sign-up-page .form-group:first-child div:last-child::after input,
.sign-up-page .form-group:first-child div:last-child::before input {
    background: transparent;
}

.sign-up-page .form-group:first-child div div::after {
    background-color: #1abcd4;
}

form  .input:before,
form  .input::after{
    content: none;
}

input[type="submit"] {
    margin-top: 28px;
    width: 180px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="password"]:after:focus {
    background: transparent;
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}

.sign-up-page .Facebook,
.sign-up-page .Facebook:hover {
    background: #32508E;
}

.sign-up-page .Google,
.sign-up-page .Google:hover {
    background: #DD4B39;
}

.form-group button {
    margin-bottom: 20px;
    border-radius: 3px;
  }

  .sep {
    border: 1px solid #dbdbdb;
    position: relative;
    margin: 35px 20px;
    margin-top: 5.4rem;
  }

  .or {
    position: absolute;
    width: 50px;
    left: 50%;
    background: #F0F0F0;
    text-align: center;
    margin: -10px 0 0 -25px;
    line-height: 20px;
  }
  