.form-sign div:nth-child(3){display: none;}

.sign-up-page {
    margin-bottom: 4rem;
}

.sign-up-page {
    margin: 0 auto;
    width: 358px;
  margin-bottom: 4rem;
}

.sign-up-page .form-card {
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22), 0 25px 55px 0 rgba(0,0,0,0.21);
}


.form-card div {
   width: 100%;
   display: block;
   margin: 5px auto;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group:last-child button {
    color: #fff;
}

.sign-up-page .form-group div:last-child::after input,
.sign-up-page .form-group div:last-child::before input {
    background: transparent;
}

.sign-up-page .form-group div div::after {
    background-color: #1abcd4;
}

form .input:before,
form .input::after {
    content: none;
}

form a {
    text-decoration: none;
}

div:first-child .form-group button[type="submit"] {
    background-color: #1abcd4;
}

div:first-child .form-group button[type="submit"]:hover,
div:first-child .form-group button[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
    background-color: #1abcd4;
}

input[type="password"]:after:focus {
    background: transparent;
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}

.form-option {
    border: 1px solid #dbdbdb;
    position: relative;
    margin: 35px 20px;
    margin-top: 3.8rem;
}

.form-group label span,
.form-group p{
    color: rgb(255, 0, 0);
    font-weight: 700;
}

@media screen and (max-width:520px) {
    .sign-up-page .form-card {
        width: 70%;
    }
}