.categories-title {
  color: #1abcd4;
  padding: 1em 2em;
  display: block;
  cursor: pointer;
  outline: none !important;
}

.categories a {
  display: block;
  text-decoration: none;
  padding: 0.1em 0.2em 0.1em 2em;
  margin-bottom: 0.5em;
  color: #95999c;
}

.categories a:hover {
  background: #ddd;
}
