.landing-page {
  background: #42A5F5;
  width: 100%;
  position: absolute;
  z-index: 6;
  overflow: auto;
  height: 100vh;
}

.login-error{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f00;
  margin-bottom: 1em;
  background: yellow;
  padding: 1em;
  margin-left: -1.8em;
  border-radius: .5em;
}

.login-error .material-icons{
  color: #000;
  margin-left: 1em;
}

.login-content{
  position: relative;
}
.signup{
  position: absolute !important;
  bottom: 5px;
  right: 28px;
  z-index: 1000;
}
