* {
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}

body {
   font-family: 'Montserrat',
   sans-serif,
   'Lucida Sans',
   'Lucida Sans Regular',
   'Lucida Grande',
   'Lucida Sans Unicode',
   Geneva,
   Verdana,
   sans-serif;
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.2;
}

/*  color for text title and icons */
h1, h2, h3, .organisation-page .material-icons, .categories-checkbox svg, #menu- path { 
  color: #1abcd4;
  }

  .categories-checkbox svg {
    font-size: 1rem;
    margin-right: -20px;
  }
