.users{
  width: 100%;
  height: 100%;
}
.users .main-nav{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}
.users .main-nav .add-new-user-button{
    text-decoration: none;
    display: inline-block;
    padding-left: 1em;
    color: #1abcd4;
}
.users .main-nav .login-section{
    color: #bbb;
    justify-self: flex-end;
}
.users-menu a{
  display: block;
  text-decoration: none;
  padding-left: 2em;
  color: #fff;
  border-color: transparent;
}
.add-user{
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-gap: 1em;
}
.add-user .select-button{
  display: block !important;
  margin-top: -.1em;
  border: navajowhite;
}
.add-user .form-control-filed{
  width: 100% !important;
}
.add-user .add-user-button{
  background: #519889;
  color: #fff;
  padding: 8px .5em;
  margin-top: 1em;
  border: navajowhite;
  border-radius: .1em;
  font-size: 1em;
  box-shadow: 0px 2px 4px 2px #bbb;
  grid-column: 3/4
}