/*                   > Users list table <                        */

.users-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2.5em;
}

.users-thead th {
  width: 25%;
  color: #fff;
  font-size: 0.878rem;
  font-weight: 600;
}

.users-thead th,
.users-tbody tr td div div:after {
  background-color: #1abcd4;
}

.users-thead path {
  opacity: 0;
}
.users-thead span,
.users-thead span:focus,
.users-thead span:hover {
  color: #fff;
}

.user-text button {
  color: #1abcd4;
  text-transform: capitalize;
}

.users-tbody td {
  text-align: left;
  border-bottom: 1px solid rgba(69, 189, 212, 0.29);
}

.users-tbody .edit-user-button,
.users-tbody .edit-user-button:hover {
  background: #519889;
  color: #fff;
}

/*                       End users list table                                       */
