/*                   > Users list table <                        */

.users-table {
  margin-top: 3.5em;
  width: 100%;
}

.users-thead th {
  color: #fff;
  font-size: 0.878rem;
  font-weight: 600;
  border-bottom: 0;
}

.users-thead th:last-child div {
  margin-left: 2.8rem;
}

.users-thead,
.users-tbody tr td div div:after {
  background-color: #1abcd4;
}

.users-thead path {
  opacity: 0;
}

.users-thead span,
.users-thead span:focus,
.users-thead span:hover {
  color: #fff;
}

.user-text button {
  color: #1abcd4;
  text-transform: capitalize;
}

.users-tbody .user-text:last-child {
  padding-right: 0;
}
.users-tbody td {
  text-align: left;
  border-bottom: 1px solid rgba(69, 189, 212, 0.29);
  padding: 0px 6px 0px 25px;
}

.users-tfoot td div {
  display: flex;
  justify-content: center;
}

.users-tfoot td div div,
.users-tfoot td div span {
  display: none;
}

.users-tfoot td div div:last-child,
.users-tfoot td div span:last-child {
  display: block;
  color: black;
}

.users-tbody .edit-user-button,
.users-tbody .edit-user-button:hover {
  background: #519889;
  color: #fff;
}

.users-tbody .material-icons {
  font-size: 1.5rem;
}

#root main {
  padding: 0 0.5rem;
  overflow-x: hidden;
} /*  <=================from the root  */

/* --------------------->Media queries<------------------------------- */

@media screen and (max-width: 699px) {
  .user-text button {
    min-width: auto;
  }

  .users-tbody .material-icons {
    font-size: 1.3rem;
  }

  .users-tbody .edit-user-button {
    position: absolute;
    right: 24px;
    bottom: 60px;
    z-index: 3;
  }

  #root main {
    padding: 0 0rem;
}
}

@media screen and (max-width: 599px) {
  thead .users-thead {
    height: auto;
  }

  thead .users-thead th:nth-child(2) {
    display: none;
  }

  thead .users-thead th,
  table .users-tbody tr td {
    padding: 0.3rem 1rem;
  }

  .users-tbody tr td {
    padding: 4px 5px 4px 4px;
  }

  .users-tfoot tr td div {
    padding-right: 0;
  }
}

/*                     >  End users list table  <                                     */
