/*                   > Users list table <                        */

table {
  border-collapse: collapse;
  margin: 0 1% 0 5%;
}

table thead tr > .MuiTableCell-paddingDefault-6,
table thead tr > .MuiTableCell-paddingDefault-6:last-child {
  width: 24%;
  color: rgb(10, 1, 1);
  font-size: .878rem;
  font-weight: 600;
}

table thead tr > .MuiTableCell-paddingDefault-6{
  padding: 2.8rem .2rem .2rem 0;  
}

table thead tr > .MuiTableCell-paddingDefault-6:last-child{
  padding: 2.8rem 1.9rem 0;
}

table thead tr >.MuiTableCell-root-1 {
  border-bottom: 1px solid rgb(69, 189, 212);
  padding-bottom: .6rem;
}

table span > .MuiTableSortLabel-icon-20,
table span > .MuiTableSortLabel-active-19 {
 display: none;
} 

table tbody tr .MuiTableCell-paddingDefault-6 {
  padding: .3rem 0;
}

table tbody tr .MuiTableCell-paddingDefault-6:last-child {
  padding-right: .8rem;
}

table tbody tr > .MuiTableCell-paddingDefault-6:nth-child(3),
table tbody tr > .MuiTableCell-paddingDefault-6:nth-child(3),
table thead tr  >.MuiTableCell-root-1:nth-child(3) {
  padding-left: 3rem;
}

td button>.MuiButton-label-33 {
  color: #1abcd4;
  font-size: 13px;
  font-size: 0.75rem;
  font-weight: 600;
}
/*                       End users list table                                       */
