.users {
  width: 100%;
}
.users .main-nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}
.users .main-nav .add-new-user-button {
  text-decoration: none;
  display: inline-block;
  padding-left: 1em;
}

.users .main-nav .login-section {
  color: #bbb;
  justify-self: flex-end;
}
.users-menu a {
  display: block;
  text-decoration: none;
  padding-left: 2em;
  color: #ffffff;
  border-color: transparent;
}

.users-menu .menu-header {
  color: #1abcd4;
  padding: 0 0 1em 2em;
}

.add-user {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  grid-gap: 1em;
}
.add-user .select-button {
  display: block !important;
  margin-top: -0.1em;
  border: navajowhite;
}
.add-user .form-control-filed {
  width: 100% !important;
}
.add-user .add-user-button {
  background: #519889;
  color: #fff;
  padding: 8px 0.5em;
  margin-top: 1em;
  border: navajowhite;
  border-radius: 0.1em;
  font-size: 1em;
  box-shadow: 0px 2px 4px 2px #bbb;
  grid-column: 4/4;
}
.add-user .add-user-button:hover {
  background: #519889;
  color: #fff;
  box-shadow: 0px 2px 4px 2px #bbb;
}

.add-user div :after{ 
  background-color: #1abcd4;
}

.add-users {
  margin: 1.5rem 0;
  color: #45bdd4e0;
  text-transform: uppercase;
  margin-left: .5rem;
}

.delete-notification{
  background: #000;
}
.delete-notification div h2{
  color: yellow;
}

button.delete{
  top: 40px ;
  left: 0px;
  width: 80px ;
  height: 40px ;
  padding: 9px ;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-size: 0.875rem;
}

.delete .material-icons{
  font-size: 1em
}

.users-info {
  padding: 3rem 0 3rem 2rem;
}

/* .MuiInput-underline-238:before */