.user-drop-down{
  position: absolute;
  top: 66px;
  right: 80px;
}
.user-drop-down .container{
  font-family: inherit;
  position: absolute;
  width: 10em;
  z-index: 100000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  top: -1px;
  right: -80px;
}
.user-drop-down a:nth-child(1){
  padding: 1em;
}
.user-drop-down a{
  text-decoration: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.8em;
  color: #1abcd4;
}
.user-drop-down a h4,
.user-drop-down a button h4,
.admin{
  margin-left: 1em;
  color: #000;
}
.user-drop-down button,
.admin {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
}

.admin.accept {
  margin-left: 10px;
}

.admin.accept.bubbleIcon {
  margin-left: 0px;
}

.container img {
  margin-left: -10px;
  position: relative;
  left: 13px;
}
.container img.accept-icon  {
  margin-left: 9px;
  height: 22px;
  width: 23px;
}

.user-drop-down button .material-icons{
  color: #1abcd4;
}