.mdc-drawer{
    height: 100vh;
    width: 256px;
    background: #000 !important;
}

.mdc-drawer--permanent.mdc-drawer--permanent .logo{
    padding: .8em 0 .8em .8em;
    font-size: 2.5em;
}
.mdc-drawer--permanent.mdc-drawer--permanent .logo a{
    text-decoration: navajowhite;
    color: #95999c;
}